body {
  background-color: #ffd700;

}

h1 {
  text-align: center;
  color: #dc143c;
  font-family: fantasy;
  font-size: 60px;
}

#cup {
  text-decoration: underline;
}

img {
  border: 8px solid #dc143c;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 300px;
  height: 375px;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid #fa8072;
  background: #ffe4e1 ;
  font-family: fantasy;
  font-weight: bold;
  text-decoration: underline;
}

hr {
  color: #dc143c;
}
